*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f6fb;
}

.about{
    max-width:80%;
    margin:50px auto;
    background:#e0dede;
    padding:30px;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,.1);
}

.container{
    display:flex;
    gap:40px;
    align-items:center;
}

.profile img{
    width:380px;
    height:500px;
    object-fit:cover;
    border-radius:20px;
}

.content{
    flex:1;
}

.subtitle{
    color:#2563eb;
    font-weight:600;
}

.content h1{
    font-size:55px;
    margin:15px 0;
    color:#111827;
}

.content p{
    font-size:20px;
    line-height:1.8;
    color:#4b5563;
    margin-bottom:20px;
}

.content span{
    color:#2563eb;
    font-weight:bold;
}

.badges{
    display:flex;
    flex-wrap:wrap;
    gap:15px;
    margin-top:20px;
}

.badges div{
    padding:12px 20px;
    background:#fff;
    border:1px solid #ddd;
    border-radius:10px;
    box-shadow:0 2px 8px rgba(0,0,0,.08);
}

table{
    width:100%;
    margin-top:40px;
    border-collapse:collapse;
}

th{
    background:#2563eb;
    color:white;
    padding:18px;
    text-align:left;
}

td{
    padding:18px;
    border-bottom:1px solid #ddd;
}

tr:hover{
    background:#f5f8ff;
}

@media(max-width:768px){

.container{
    flex-direction:column;
}

.profile img{
    width:100%;
    height:auto;
}

.content h1{
    font-size:38px;
}
}





