*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#f4f6fb;
}

.contact{
    padding:80px 8%;
}

.contact-container{
    display:flex;
    gap:40px;
    background:#cfcbcb;
    border-radius:20px;
    padding:40px;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
}

.contact-image img{
    width:420px;
    height:650px;
    object-fit:cover;
    border-radius:20px;
}

.contact-content{
    flex:1;
}

.contact-content h2{
    font-size:60px;
    color:#111827;
    margin-bottom:40px;
}

.contact-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:40px;
}

.contact-form{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.contact-form input,
.contact-form textarea{
    width:100%;
    padding:15px;
    border:1px solid #d1d5db;
    border-radius:10px;
    outline:none;
    font-size:16px;
}

.contact-form textarea{
    height:150px;
    resize:none;
}

.contact-form button{
    width:200px;
    padding:15px;
    border:none;
    border-radius:10px;
    background:#2563eb;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:.3s;
}

.contact-form button:hover{
    background:#4e6ec7;
}

.info-box{
    margin-bottom:30px;
}

.info-box h3{
    color:#2563eb;
    margin-bottom:8px;
}

.info-box p{
    color:#555;
    line-height:1.7;
}

.socials{
    display:flex;
    gap:15px;
    margin-top:20px;
}

.socials a{
    width:50px;
    height:50px;
    background:#f3f4f6;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:50%;
    text-decoration:none;
    font-size:20px;
    transition:.3s;
}

.socials a:hover{
    background:#2563eb;
    color:white;
}

@media(max-width:900px){

.contact-container{
    flex-direction:column;
}

.contact-image img{
    width:100%;
    height:auto;
}

.contact-grid{
    grid-template-columns:1fr;
}

.contact-content h2{
    font-size:40px;
}
}




